@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin:0;
    padding:0;
}
body{
     background:#6e1155;
     color:white;
     font-family: 'Tajawal', sans-serif;


}
.logo{
    width:55px;

}
.navbar{
    background:white;
     padding-left:1.5em;
   padding-right:1.5em;
    padding-top:.5em;
    border:none;



}
.nav-container{
    display:flex;
    justify-content:space-between;



}
a{
    text-decoration:none;
    color:black;
}
ul{
    list-style:none;
}
.nav-items{
 margin:.2em .6em;
 font-size:15px;
 font-weight:bold;

}
.nav-btn{
    display:flex;
     justify-content:space-between;
}
.hero{
margin-top:2em;

text-align: center;

}
.container{
 margin:1em 2em;




}
h1{
    font-size:30px;


}

.main-img{
    width:220px;
    margin-top:1.4em;
    margin-right:1em;
}


.subhead{
    color:lightgray;
    font-size:15px;
}

@media (max-width:767px){

    .bottom-img{
        display:none;
    }
    .bitcoin-card{
    display:none;
}

}
@media (min-width:576px){
 .container{
        display:flex;
        justify-content: space-around;

 }


    .news-bar{
        
        width:65%;
        height:25px;
    }
    .container2 h2{
        margin-top:.8em;
        font-size:20px;
        text-align: right;
    }
    .news-btn{
        margin-top:.8em;


    }
    form{
        display:flex;
    }




}
@media (min-width: 1020px){
     .nav-container{
        /* width: 80%;  margin: 0 auto */
       margin:auto 5em;
    }

}
@media (min-width:861px){
    form{
            margin-right:10em;

    }
    .container2 h2{
        margin-right:2em;

    }
    .bottom-img{
       
        width:10%;
    }
    .bticoin-card{
        display:block;
        width:20%;
    }
    .container2{
        display: flex;
    }
    .news-bar{
        width: 280px;
    }

    .col-right h3{
        font-size: 30px;
    }
}

@media (min-width:767px){
    .cards-container{
        display:flex;
    }
    .main-heading{
        text-align: right;
    }
      .hero{
        margin:2em 5em;
    }
    .card-layout{
         padding:.8em 0;
    }
    .bottom-cta{
        display:inline-block;
        width:50%;
    }
    .col-right{
        text-align:right;
        margin: 0 3em;
    }
    
    .bottom-img{
        
        margin-right:5em;
        width:40%;
    }
        .bottom-container{
            display:flex;
            justify-content:space-around;
           
        }
        .bitcoin-card{
    width:20%;
    
}
.container2{
    margin: 0 1.5em;
}


}

@media (min-width:1221px){
    .card-layout{

        padding:2em 3em;
    }
       
        .news-bar{
            width:450px;
        }
        .main-heading{
            font-size:65px;
        }
        .main-img{
            width:75%;
        }
        .cta-btn{
            width:155px;
            height:40px;
        }
        .container2{
        padding:3em 1em;
        }
        .container2 h2{
            font-size: 30px;
            margin-top: .5em;
        }
        

}
.news-letter{
    padding:2em 1em;
    }
.cta-btn{
    padding:.2em .8em;
    margin-bottom: 1.5em;
    border-radius:.8em;
    border:none;
    font-weight: bold;
    font-size:1em;
    font-family: 'Tajawal', sans-serif;
    cursor:pointer;
    width: 70%;

}
.cta-btn:hover{
    background:#ffcc00;
    color:black;
}

.cards{
    background:lightgray;
    color:black;

    padding:1em 0;


}
.card-layout{
    background:#a6a6a6;
    padding: 1em 0; 
    align-items:center;
    margin:1em;
    text-align:center;
    border-radius:.8em;

}

.person{
    border-radius:60px;
    margin-top:.5em;
}
.check-img{
 width:17px;
 margin-left:.5em;


}
.feauters-list{
     text-align:right;
     margin:.5em 0;

}
section ul {
    padding: 2em;
    margin: 0 2em;
   
}
section p {
    padding:.8em;
}
footer{
    background: #4d4d4d;
    display:block;

}
.footer-container{

    padding:1em 2em;
    text-align:center;
}
footer p{
     text-align:center;
     margin-bottom:1.5em;

}
footer ul li{
    color:white;
    display:inline-block;
     text-align:center;
     margin-right:1em;
     font-size:12px;


}

.news-letter{
    background:white;
    color:black;

      text-align:center;
}
.news-bar{
    padding:.5em;
    margin-top:1em;
    border:1px solid gray;
    border-radius:1em;

}
.news-btn{
    padding:.3em 1.3em;
    font-size:15px;
    background:#80ff80;
    border-radius:1em;
    border:none;
    font-weight:bold;
    font-family: 'Tajawal', sans-serif;
    cursor: pointer;
    margin-right:.8em;

}

.cta-bottom{
    background:white;
    color:black;
    padding:3em 1.5em;
    text-align:center;


}

.bottom-cta{
    font-weight:bold;
    font-size:18px;
    background:#99003d;
    color:white;
    border-radius:1.5em;
    padding:.5em .9em;
    display:grid;
    text-align:center;
    margin-right:.4em;
}
